.course-pre-require__wrapper {
    width: 1000px;
    margin: 30px auto;
}

@media (min-device-width:1600px) {
    .course-pre-require__wrapper {
        width: 1200px;
    }
}

.course-pre-require__wrapper p {
    font-size: 30px;
    font-weight: bold;
}

.course-pre-require__wrapper>ul li {
    font-size: 25px;
}