.course-banner {
    width: 100%;
    height: 20vw;
    background-color: #505763;
    position: relative;
}

@media (min-width:1600px) {
    .course-banner {
        height: 30vw;
    }
}

.course-banner .course-banner__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}