.course-video-list__wrapper .ant-collapse .ant-collapse-header {
    font-size: 30px;
}

.course-video-list__wrapper .ant-collapse .ant-collapse-content-box {
    padding: 0;
}

.course-video-list__wrapper .ant-collapse .ant-collapse-content-box div {
    font-size: 25px;
    height: 70px;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
}

.course-video-list__wrapper .ant-collapse .ant-collapse-content-box div .video-time {
    float: right;
    line-height: 70px;
    padding-right: 15px;
}

.course-video-list__wrapper .ant-collapse .ant-collapse-content-box div a {
    line-height: 70px;
    padding-left: 15px;
    color: #505763;
}