.what-will-i-learn__wrapper .ant-card-head-title {
    font-size: 30px;
    font-weight: bold;
}

.what-will-i-learn__wrapper .what-will-i-learn__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.what-will-i-learn__wrapper .what-will-i-learn__list li {
    font-size: 25px;
    width: 45%;
}