.what-will-i-learn__wrapper {
    background: #f9f9f9;
    border: 1px solid #dedfe0;
    width: 1000px;
    margin: 30px auto;
}

@media (min-device-width:1600px) {
    .what-will-i-learn__wrapper {
        width: 1200px;
    }
}

.what-will-i-learn__wrapper .ant-card-head-title {
    font-size: 30px;
    font-weight: bold;
}

.what-will-i-learn__wrapper .what-will-i-learn__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.what-will-i-learn__wrapper .what-will-i-learn__list li {
    font-size: 25px;
    width: 45%;
}