.course-banner {
    width: 100%;
    height: 30vh;
    background-color: #505763;
    position: relative;
}

.course-banner .course-banner__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}