/* banner */

.course-enroll__wrapper {
    display: flex;
    justify-content: center;
}

.course-enroll__wrapper .course-thumb img {
    height: 16vh;
}

@media (max-width:1600px) {
    .course-enroll__wrapper .course-thumb img {
        height: 20vh;
    }
}

@media (min-width:1600px) {
    .course-enroll__wrapper .course-thumb img {
        height: 25vw;
    }
}

@media (min-width:1920px) {
    .course-enroll__wrapper .course-thumb img {
        height: 30vh;
    }
}

.course-enroll__wrapper .course-info {
    margin-left: 3rem;
}

.course-enroll__wrapper .course-info .course-title {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

.course-enroll__wrapper .course-info button {
    height: 5vh;
    font-weight: bold;
    font-size: 25px;
}

@media (min-width:1600px) {
    .course-enroll__wrapper .course-info .course-title {
        font-size: 35px;
        margin-bottom: 25px;
    }
    .course-enroll__wrapper .course-info button {
        height: 4vw;
        font-weight: bold;
        font-size: 25px;
    }
}