.layout-container .header {
    background: #fff;
    height: 84px;
}

.layout-container .header .header-menu {
    line-height: 84px;
    height: 84px;
}

.layout-container .header .logo {
    float: left;
    width: 350px;
    height: 84px;
    line-height: 84px;
    background-image: url('../../logo/logo.png');
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 250px;
}

.layout-container .header .logo:hover {
    cursor: pointer;
}

.layout-container .header .header-menu li {
    font-size: 20px;
    float: right;
}