.about-teacher .about-teacher__content {
    overflow: hidden;
    display: flex;
}

.about-teacher .about-teacher__content .teacher-info {
    float: left;
}

.about-teacher .about-teacher__content .teacher-info .teacher-info__detail {
    height: 50px;
    margin-top: 10px;
}

.about-teacher .about-teacher__content .teacher-info .teacher-info__detail i {
    font-size: 20px;
}

.about-teacher .about-teacher__content .teacher-info .teacher-info__detail span {
    margin-left: 15px;
    font-size: 20px;
}

.about-teacher .about-teacher__content .teacher-experience__introduce {
    padding-left: 30px;
}

.about-teacher .about-teacher__content .teacher-experience__introduce .teacher-experience__name {
    font-size: 30px;
}

.about-teacher .about-teacher__content .teacher-experience__introduce .teacher-experience__experience {
    font-size: 25px;
}